.other-play-btn {
    display: none !important;
}

#larPlayer {
    height: 200px !important;
}

.live-volume {
    display: none !important;
}

.live-tag {
    display: none !important;
}

.content-box > .container {
    padding: 0 10px !important;
}

.play-btn {
    top: 28% !important;
    left: 40% !important;
}

.input-group {
    .custom-input-width {
        .field {
            margin-left: -25px !important;
        }
    }
}

.todo-handle {
    .navbar-item {
        .navbar-dropdown {
            display: none !important;
        }
    }
}

#app > .section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
}

#app > .section > form {
    margin-top: 0 !important;
}

.radar-box {
    width: 100% !important;
}

.line-box {
    width: 100% !important;
}